/.build/arm64-apple-macosx/debug/index/db/v13/p37744--fb0197/data.mdb
/.build/arm64-apple-macosx/debug/index/db/v13/p37744--fb0197/lock.mdb
/.build/checkouts/Alamofire/
/.build/checkouts/GRDB.swift/
/.build/checkouts/Moya/
/.build/checkouts/Nuke/
/.build/checkouts/RxSwift/
/.build/checkouts/sentry-cocoa/
/.build/checkouts/toast-swift/
/.build/checkouts/vapor/
/.build/repositories/toast-swift-cf02598b/hooks/applypatch-msg.sample
/.build/repositories/toast-swift-cf02598b/hooks/commit-msg.sample
/.build/repositories/toast-swift-cf02598b/hooks/fsmonitor-watchman.sample
/.build/repositories/toast-swift-cf02598b/hooks/post-update.sample
/.build/repositories/toast-swift-cf02598b/hooks/pre-applypatch.sample
/.build/repositories/toast-swift-cf02598b/hooks/pre-commit.sample
/.build/repositories/toast-swift-cf02598b/hooks/pre-merge-commit.sample
/.build/repositories/toast-swift-cf02598b/hooks/pre-push.sample
/.build/repositories/toast-swift-cf02598b/hooks/pre-rebase.sample
/.build/repositories/toast-swift-cf02598b/hooks/pre-receive.sample
/.build/repositories/toast-swift-cf02598b/hooks/prepare-commit-msg.sample
/.build/repositories/toast-swift-cf02598b/hooks/push-to-checkout.sample
/.build/repositories/toast-swift-cf02598b/hooks/update.sample
/.build/repositories/toast-swift-cf02598b/info/exclude
/.build/repositories/toast-swift-cf02598b/objects/pack/pack-b430fd45fd093ba053b3a26f062b2a214e266ff9.idx
/.build/repositories/toast-swift-cf02598b/objects/pack/pack-b430fd45fd093ba053b3a26f062b2a214e266ff9.pack
/.build/repositories/toast-swift-cf02598b/config
/.build/repositories/toast-swift-cf02598b/description
/.build/repositories/toast-swift-cf02598b/FETCH_HEAD
/.build/repositories/toast-swift-cf02598b/HEAD
/.build/repositories/toast-swift-cf02598b/packed-refs
/.build/
/.swiftpm/xcode/xcuserdata/
