<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Associations (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Examples (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>MyPlayground (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>ReactiveSwift (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ReactiveSwift-UIExamples (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Rx (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Tour (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>TransactionObserver (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>XXFArch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>XXFDatabase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>XXFDatabaseGrdb.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>XXFFoundation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>XXFHudMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>XXFHudiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>XXFKeychain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>XXFServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>XXFTrackerBugsnag.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>XXFTrackerSentry.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>xxf_ios-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>XXFArch</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XXFDatabase</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XXFDatabaseGrdb</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XXFFoundation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XXFHudMac</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XXFHudiOS</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XXFKeychain</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XXFServer</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XXFTrackerBugsnag</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>XXFTrackerSentry</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>xxf_iosTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
